/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.tab{
	height: auto;
}
.tab-menu ul{
	margin: 0;
	padding: 0;
}
.tab-menu ul li{
	list-style-type: none;
	display: inline-block;
}
.tab-menu ul li a{
	text-decoration: none;
	color: rgba(0,0,0,0.4);
	padding: 7px 25px;
	border-radius: 4px;
}
.tab-menu ul li a.active-a{
	background-color: #588d7d;
	color: #ffffff;
}
.tab{
	display: none !important;
}
.tab-active{
	display: block !important;
}